.voting-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-voting-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &-vs {
        background-color: #00000025;
        padding: 20px;
        margin: 15px;
        border-radius: 100px;
        color: #ffffff;
        font-weight: 800;
    }
    
    &-button {
        width: 200px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #c97575;
        border: solid 0.2px #bb4545;
        color: #ffffff;

        &:hover {
            background-color: #e70000;
        }

        &-wrapper {
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}