.voting-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-voting-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &-vs {
        background-color: rgba(0, 0, 0, 0.146);
        padding: 20px;
        margin: 15px;
        border-radius: 100px;
        color: white;
        font-weight: 800;
    }
    
    &-button {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #ffcdcd;
        border: solid 0.2px #bb4545;
        color: #363636;

        &:hover {
            background-color: #e70000;
            color: white;
        }

        &-wrapper {
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}