.card {
    height: 250px;
    width: 200px;
    background: #0000007d;
    border-radius: 30px;
    background-image: url('./../../images/bg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: solid 1px #0000001d;
    user-select: none;

    &-interactive {
        cursor: pointer;
    }

    &-static-button {
        padding: 3px;
        margin: 0 2px;
        font-size: 12px;
        border: solid 1px #ffffff12;
        border-radius: 12px;
        color: #ffffff;
        background-color: #5c5c5ca9;
        font-weight: 100;

        &-small {
            border-radius: 4px;
            font-size: 8px;
            font-weight: 400;
            background-color: #1d2d5ecc;
        }
    }

    &-image {
        background-color: #ffffff30;
        border-radius: 100px;
        width: 100px;
    }

    &-title {
        color: #e5e5e5;

        &-votes {
            border-radius: 100px;
            font-size: 14px;
            padding: 2px 5px;
            background-color: #ffffff69;
            margin-left: 5px;
            font-weight: 100;
            color: #ffffff;
        }
    }
}